{
  "openapi": "3.1.0",
  "info": {
    "title": "x402 Digital Vending Machine",
    "version": "3.0.0",
    "description": "Signed JSON Schema Gate verdicts plus legacy text normalization, protected by canonical x402 v2 exact Solana USDC payment."
  },
  "servers": [
    {
      "url": "https://www.x402digitalvendingmachine.store"
    }
  ],
  "paths": {
    "/v1/schema-gate": {
      "post": {
        "operationId": "schemaGate",
        "summary": "Evaluate JSON and return a signed ACCEPT or REJECT verdict",
        "parameters": [
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "description": "Base64-encoded canonical x402 v2 PaymentPayload.",
            "schema": { "type": "string", "contentEncoding": "base64" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SchemaGateRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Completed paid ACCEPT/REJECT verdict, or exact idempotent recovery without a second charge.",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "Present for a newly settled evaluation; base64 x402 v2 SettlementResponse.",
                "schema": { "type": "string", "contentEncoding": "base64" }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SchemaGateResponse" }
              }
            }
          },
          "400": { "description": "Malformed preflight; no settlement." },
          "402": {
            "description": "Payment required or supplied payment rejected.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "required": true,
                "description": "Base64-encoded x402 v2 PaymentRequired object.",
                "schema": { "type": "string", "contentEncoding": "base64" }
              }
            }
          },
          "409": { "description": "Idempotency key reused with different request material; no new settlement." },
          "422": { "description": "Request cannot be evaluated; no settlement." },
          "503": { "description": "Provider unavailable; no settlement." }
        },
        "x-x402": {
          "x402Version": 2,
          "scheme": "exact",
          "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
          "amount": "10000",
          "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
          "payTo": "E2PxHWFSwzt6a3osZRQeT16tsb7BPLfXEMuDfjnZuhFD",
          "billing": "one charge per completed ACCEPT or REJECT; exact recovery is free"
        }
      }
    },
    "/v1/clean": {
      "post": {
        "operationId": "cleanText",
        "summary": "Normalize text after payment settlement",
        "parameters": [
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "description": "Base64-encoded canonical x402 v2 PaymentPayload.",
            "schema": {
              "type": "string",
              "contentEncoding": "base64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": ["text"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment settled and normalized output delivered.",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "Base64-encoded x402 v2 SettlementResponse.",
                "schema": {
                  "type": "string",
                  "contentEncoding": "base64"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CleanResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON or invalid text input."
          },
          "402": {
            "description": "Payment is required or the supplied payment was rejected.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 PaymentRequired object.",
                "required": true,
                "schema": {
                  "type": "string",
                  "contentEncoding": "base64"
                }
              }
            }
          },
          "409": {
            "description": "The payment payload cannot be reused for a different request."
          },
          "429": {
            "description": "Request rate limit exceeded."
          },
          "502": {
            "description": "Payment settlement is temporarily unavailable."
          }
        },
        "x-x402": {
          "x402Version": 2,
          "scheme": "exact",
          "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
          "amount": "2000",
          "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
          "payTo": "E2PxHWFSwzt6a3osZRQeT16tsb7BPLfXEMuDfjnZuhFD"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SchemaGateRequest": {
        "type": "object",
        "properties": {
          "order_id": { "type": "string", "minLength": 1 },
          "idempotency_key": { "type": "string", "minLength": 1 },
          "input": true,
          "target_schema": { "type": "object" },
          "acceptance_criteria": {
            "oneOf": [{ "type": "object" }, { "type": "array" }]
          },
          "acceptance_commitment": {
            "type": "string",
            "pattern": "^sha256:[0-9a-f]{64}$"
          },
          "expires_at": { "type": "string" }
        },
        "required": [
          "order_id",
          "idempotency_key",
          "input",
          "target_schema",
          "acceptance_criteria",
          "acceptance_commitment"
        ],
        "additionalProperties": false
      },
      "SchemaGateResponse": {
        "type": "object",
        "required": ["verdict"],
        "properties": {
          "verdict": { "enum": ["ACCEPT", "REJECT"] },
          "output": { "description": "Present only when verdict is ACCEPT." },
          "checks": {
            "oneOf": [{ "type": "object" }, { "type": "array" }]
          },
          "receipt": {
            "oneOf": [{ "type": "object" }, { "type": "string" }]
          },
          "recovery": {
            "oneOf": [{ "type": "object" }, { "type": "boolean" }]
          }
        },
        "additionalProperties": true
      },
      "CleanResponse": {
        "type": "object",
        "required": ["cleaned_text", "endpoint", "payment"],
        "properties": {
          "cleaned_text": {
            "type": "string"
          },
          "endpoint": {
            "const": "/v1/clean"
          },
          "payment": {
            "type": "object",
            "additionalProperties": true
          }
        }
      }
    }
  }
}
