{
  "openapi": "3.1.0",
  "info": {
    "title": "x402 Schema Gate",
    "version": "3.1.0",
    "description": "Paid deterministic JSON acceptance evaluations with ES256 signed receipts and token recovery over canonical x402 v2 exact Solana USDC."
  },
  "servers": [
    { "url": "https://www.x402digitalvendingmachine.store" }
  ],
  "paths": {
    "/v1/schema-gate": {
      "post": {
        "operationId": "schemaGate",
        "summary": "Evaluate JSON and return a signed ACCEPT or REJECT verdict",
        "parameters": [
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "description": "Base64-encoded canonical x402 v2 PaymentPayload. Omit for the unsigned preflight.",
            "schema": { "type": "string", "contentEncoding": "base64" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SchemaGateRequest" },
              "example": {
                "order_id": "order-1042",
                "idempotency_key": "order-1042-v1",
                "input": { "sku": "A-7", "quantity": 2 },
                "target_schema": {
                  "type": "object",
                  "required": ["sku", "quantity"],
                  "properties": {
                    "sku": { "type": "string" },
                    "quantity": { "type": "integer", "minimum": 1 }
                  },
                  "additionalProperties": false
                },
                "acceptance_criteria": {
                  "canonical_json": true,
                  "required_fields": ["/sku", "/quantity"],
                  "forbidden_patterns": ["<script"],
                  "max_output_bytes": 4096,
                  "normalizer_version": "schema-gate-c14n-v1"
                },
                "acceptance_commitment": "sha256:f3f8f6ac94fdc2d4eac59f404f26c1eb6cadb63a2625cd6642a0a7a2240b1c63"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Completed paid ACCEPT/REJECT verdict, or exact idempotent recovery without a second charge.",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "Base64 x402 v2 SettlementResponse for the settled evaluation.",
                "schema": { "type": "string", "contentEncoding": "base64" }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SchemaGateResponse" }
              }
            }
          },
          "400": { "description": "Malformed preflight; no settlement." },
          "402": {
            "description": "Payment required or supplied payment rejected.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "required": true,
                "description": "Base64-encoded x402 v2 PaymentRequired object, including recovery URL and token.",
                "schema": { "type": "string", "contentEncoding": "base64" }
              }
            }
          },
          "409": { "description": "Order or idempotency key conflicts with different request material; no settlement." },
          "422": { "description": "Request cannot be evaluated before settlement." },
          "503": { "description": "Payment/provider/delivery temporarily unavailable." }
        },
        "x-x402": {
          "x402Version": 2,
          "scheme": "exact",
          "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
          "amount": "10000",
          "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
          "payTo": "E2PxHWFSwzt6a3osZRQeT16tsb7BPLfXEMuDfjnZuhFD",
          "maxTimeoutSeconds": 600,
          "billing": "ACCEPT and REJECT are paid; exact retry/recovery has no second charge"
        }
      }
    },
    "/v1/orders/{order_id}": {
      "get": {
        "operationId": "recoverSchemaGateOrder",
        "summary": "Recover an order by server-issued token without initiating payment",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": { "$ref": "#/components/schemas/OrderId" }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer followed by the server-issued sg_ recovery token.",
            "schema": { "type": "string", "pattern": "^Bearer sg_.+$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Delivered signed verdict recovered without another charge.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SchemaGateResponse" }
              }
            }
          },
          "202": {
            "description": "Order is processing or paid delivery is pending.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RecoveryStatus" }
              }
            }
          },
          "401": { "description": "Recovery token is missing or invalid." },
          "404": { "description": "Order does not exist." },
          "410": { "description": "Order recovery has expired." }
        }
      }
    },
    "/.well-known/receipt-key.json": {
      "get": {
        "operationId": "getSchemaGateReceiptKey",
        "summary": "Fetch the public ES256 receipt verification key",
        "responses": {
          "200": {
            "description": "Public JWK set and receipt metadata.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReceiptKeyDocument" }
              }
            }
          },
          "503": { "description": "Receipt verification key is unavailable." }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OrderId": {
        "type": "string",
        "minLength": 1,
        "maxLength": 128,
        "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
      },
      "AcceptanceCriteria": {
        "type": "object",
        "properties": {
          "canonical_json": { "const": true },
          "required_fields": {
            "type": "array",
            "maxItems": 64,
            "items": { "type": "string", "maxLength": 256, "pattern": "^(|/.*)$" }
          },
          "forbidden_patterns": {
            "type": "array",
            "maxItems": 32,
            "items": { "type": "string", "minLength": 1, "maxLength": 128 }
          },
          "max_output_bytes": {
            "type": "integer",
            "minimum": 2,
            "maximum": 100000
          },
          "normalizer_version": { "const": "schema-gate-c14n-v1" }
        },
        "required": [
          "canonical_json",
          "required_fields",
          "forbidden_patterns",
          "max_output_bytes",
          "normalizer_version"
        ],
        "additionalProperties": false
      },
      "SchemaGateRequest": {
        "type": "object",
        "properties": {
          "order_id": { "$ref": "#/components/schemas/OrderId" },
          "idempotency_key": { "type": "string", "minLength": 8, "maxLength": 128 },
          "input": true,
          "target_schema": { "type": "object" },
          "acceptance_criteria": { "$ref": "#/components/schemas/AcceptanceCriteria" },
          "acceptance_commitment": {
            "type": "string",
            "pattern": "^sha256:[0-9a-f]{64}$"
          },
          "expires_at": {
            "oneOf": [
              { "type": "string", "format": "date-time" },
              { "type": "integer" }
            ]
          }
        },
        "required": [
          "order_id",
          "idempotency_key",
          "input",
          "target_schema",
          "acceptance_criteria",
          "acceptance_commitment"
        ],
        "additionalProperties": false
      },
      "Recovery": {
        "type": "object",
        "properties": {
          "url": { "type": "string", "format": "uri" },
          "token": { "type": "string", "pattern": "^sg_.+$" }
        },
        "required": ["url", "token"],
        "additionalProperties": false
      },
      "ReceiptEnvelope": {
        "type": "object",
        "properties": {
          "protected": {
            "type": "object",
            "properties": {
              "alg": { "const": "ES256" },
              "kid": { "type": "string", "minLength": 1 },
              "typ": { "const": "x402-schema-gate-receipt" }
            },
            "required": ["alg", "kid", "typ"],
            "additionalProperties": false
          },
          "payload": { "type": "object" },
          "signature": { "type": "string", "contentEncoding": "base64url" }
        },
        "required": ["protected", "payload", "signature"],
        "additionalProperties": false
      },
      "SchemaGateResponse": {
        "type": "object",
        "required": ["order_id", "status", "verdict", "checks", "receipt", "payment", "recovery"],
        "properties": {
          "order_id": { "$ref": "#/components/schemas/OrderId" },
          "status": { "const": "delivered" },
          "verdict": { "enum": ["ACCEPT", "REJECT"] },
          "output": { "description": "Present only when verdict is ACCEPT." },
          "canonical_json": { "type": "string" },
          "errors": { "description": "Present for REJECT." },
          "checks": { "type": "array", "items": { "type": "object" } },
          "receipt": { "$ref": "#/components/schemas/ReceiptEnvelope" },
          "payment": { "type": "object" },
          "delivery": { "type": "object" },
          "recovery": { "$ref": "#/components/schemas/Recovery" }
        },
        "additionalProperties": true
      },
      "RecoveryStatus": {
        "type": "object",
        "properties": {
          "order_id": { "$ref": "#/components/schemas/OrderId" },
          "status": { "enum": ["processing", "paid_delivery_pending"] },
          "payment_settled": { "type": "boolean" },
          "recovery": { "$ref": "#/components/schemas/Recovery" }
        },
        "required": ["order_id", "status", "recovery"],
        "additionalProperties": true
      },
      "ReceiptKeyDocument": {
        "type": "object",
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kty": { "const": "EC" },
                "crv": { "const": "P-256" },
                "alg": { "const": "ES256" },
                "use": { "const": "sig" },
                "kid": { "type": "string" },
                "x": { "type": "string" },
                "y": { "type": "string" }
              },
              "required": ["kty", "crv", "alg", "use", "kid", "x", "y"]
            }
          },
          "receipt_type": { "const": "x402-schema-gate-receipt" },
          "canonicalization": { "const": "schema-gate-c14n-v1" }
        },
        "required": ["keys", "receipt_type", "canonicalization"]
      }
    }
  }
}
